html, body {
  margin: 0;
  padding: 0;
  font-family: Inter;
  height: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

#root {
  height: 100vh;
  overflow: hidden;
}
